stages:
  - build
  - quality

variables:
  GIT_STRATEGY: none

services:
  - docker:dind

build-container:
  stage: build
  image: docker
  variables:
    GIT_STRATEGY: fetch
  tags:
    - docker
  script:
    - docker login --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - >-
      docker build
      --rm=false
      -t $CI_REGISTRY_IMAGE/node:${CI_COMMIT_REF_NAME}
      --file docker/node/Dockerfile
      .
    - docker login --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push $CI_REGISTRY_IMAGE/node:${CI_COMMIT_REF_NAME}

lint-server:
  stage: quality
  image:
    name: $CI_REGISTRY_IMAGE/node:${CI_COMMIT_REF_NAME}
    entrypoint: [""]
  tags:
    - docker
  script:
    - ls
    - yarn lint:server

lint-client:
  stage: quality
  image:
    name: $CI_REGISTRY_IMAGE/node:${CI_COMMIT_REF_NAME}
    entrypoint: [""]
  tags:
    - docker
  script:
    - yarn lint:client

